
@import 'bourbon';

//*****************************************************

//
// Globals
//
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,strong,i,ol,ul,li,table,tbody,tfoot,thead,tr,th,td
{
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

body {
  font: 500 16px Avenir, sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}


//*****************************************************

//
// Intro
//

.intro-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
  @include background(radial-gradient(60% 50%, ellipse closest-corner, #646464 1%, rgba(0, 0, 0, .3) 100%));
}


.intro {
  background: url('//images.unsplash.com/photo-1456428199391-a3b1cb5e93ab');
  background-size: cover;

  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.intro-pitch {
  display: table;
  height: 100%;
  line-height: 2.5em;
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: 30;

  h2 {
    color: #fff;
    font-size: 55px;
    font-weight: normal;
    line-height: 1.3em;
    padding: 0 10%;
  }

  p {
    color: rgba(255, 255, 255, .7);
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 1.3em;
  }
}

.intro-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  span {
    position: relative;
  }
}

.intro-pitch-inner {
  display: table-cell;
  vertical-align: middle;

  h2 {
    a {
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.name {
  span {
    // Make the hyphen look good.
    padding-left: 2px;
  }
}

.subtext {
  color: rgba(255, 255, 255, .36);
  display: block;
  padding-top: 20px;
  text-decoration: none;
}


//******************************************************

//
// Sections
//

.section {
  overflow: hidden;
  padding: 75px 5% 55px;
  text-align: center;
  border-bottom: 1px solid #efefef;

  .description {
    padding-bottom: 10px;
  }

  h3 {
    color: #4b514b;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 1em;
    padding: 0 5%;
  }

  code {
    line-height: 1.35;
  }
}

//*****************************************************

//
// Maps
//

.zones:first-child {
  display: block;
}

.zones {
  display: none;
  list-style: none;

  li {
    display: inline-block;
    height: 225px;
    margin: 15px 22px;
    width: 300px;

    a {
      background-size: contain;
      border-radius: 5px;
      color: #aaa;
      display: table;
      font-size: 12px;
      height: 225px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      width: 300px;
    }

    .details {
      line-height:1.4;
    }
  }
}


//*****************************************************

//
// Tags
//

.tags {
  list-style: none;
  margin: 1.4em auto 0;
  width: 80%;

  li {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    color: rgba(255, 255, 255, .65);
    display: inline-block;
    font-size: 20px;
    line-height: 100%;
    margin: 4px 5px 0;
    padding: 6px 0;
    position: relative;

    a {
      color: rgba(255, 255, 255, .65);
      padding: 10px;
      text-decoration: none;
    }
  }

  li:hover {
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
  }
}


//*****************************************************

//
// Footer
//

.footer {
  background-color: #fff;
  color: #777;
  padding: 45px 20px;

  a {
    border-bottom: 2px solid #b1b1b1;
    color: #ea4c89;
    display: inline-block;
    height: 20px;
    text-decoration: none;
  }

  p {
    padding-top: 20px;
  }
}


//*****************************************************

//
// Mobile
//

@media only screen and (max-width: 780px) {

  html,
  body,
  #save-form,
  .intro,
  .intro-pitch {
    height: auto;
  }

  .intro-pitch {
    display: block;
  }

  .intro-pitch-inner {
    display: block;
  }

  .intro-pitch p {
    font-size: 20px;
    margin-bottom: .8em;
    margin-top: .5em;
  }

  .intro-inner {
    bottom: auto;
    left: auto;
    padding: 40px 0;
    position: relative;
    right: auto;
    top: auto;
  }

  .intro-pitch h2 {
    font-size: 19px;
    margin-top: 1em;
  }

  .tags li {
    font-size: 12px;
  }

  .section h3 {
    font-size: 25px;
    margin-bottom: .4em;
  }

  .section {
    padding: 45px 5% 40px !important;

    .zones li {
      height: 175px;
      margin-top: 75px;
      width: 233px;

      a {
        height: 175px;
        width: 233px;
      }
    }
  }

  .footer {
    padding-top: 10px;

    p {
      line-height: 1.6em;
      font-size: 15px;
    }
  }
}
